<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <p v-bind:id="uuid" v-bind:class="name">{{ num }}</p>
      <p>{{ doubleNum }}</p>
      <p v-if="loading">Loading...</p>
      <p v-else>login success!</p>
      <p v-show="loading">Loading...</p>
      <!-- v-if는 아예 DOM에서 없애고, v-show는 DOM에서는 유지하되 display 속성을 none으로 변경 -->
      <input type="text" v-model="message" />
      <p>{{ message }}</p>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
      new Vue({
        el: "#app",
        data: {
          num: 10,
          uuid: "abc1234",
          name: "text-blue",
          loading: true,
          message: "",
        },
        // 가지고 있는 데이터를 활용해 계산을 할 때 사용하는 속성
        computed: {
          doubleNum: function () {
            return this.num * 2;
          },
        },
      });
    </script>
  </body>
</html>
